
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Carte{% endblock %}
{% block pagetitle %}Carte{% endblock %}
{% block content %}
<script src='{% static "js/carte.js" %}'></script>
<form class="form-inline" name="carteform" action="#">
    <select name="monde" class="input-small">
        {% for m in mondes %}
        <option>{{ m.nom }}</option>
        {% endfor %}
    </select>
    <input type="checkbox" name="drawall"> Afficher toutes les alliances
    <input type="text" class="input-xxlarge" name="alliances" placeholder="alliances, séparées par des virgules">
</form>
<form class="form-inline" name="controls">
        Zoom: 
        <select name="zoom" class="input-mini">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
        </select>
        X: <input type="number" name="xpos" class="input-mini" value="0">
        Y: <input type="number" name="ypos" class="input-mini" value="0">
</form>
   

<a id="permalink" href="">
    Permalien de l'image
    <img id="carte" src="">
</a>
<script src='{% static "js/carte.js" %}'></script>
{% endblock %}
