{% extends "base.html" %}

{% block title %}tools.nemeria{% endblock %}
{% block content %}
<style>
h2 {
    text-align: center;
    font-size:120%;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 50px;
}
.marketing {
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    text-justify: newspaper;
    font-size: large;
    line-height: 25px;
}
</style>
<div class="span10">
    <div class="well" style="text-align: center; font-family: 'Open Sans Condensed';">
        <h1>Bienvenue sur tools.nemeria, le site communautaire d'outils pour <a href="http://nemeria.com" a>Nemeria.</a></h1>
    </div>
    <div class="row marketing">
        <div class="span4">
            <h2>Par les joueurs, pour les joueurs.</h2>
            <p>Toutes les contributions sont les bienvenues. Les sources sont sur <a href="https://github.com/nemeria/nemeria-tools">github</a>, n'hésitez pas à y jeter un coup d'oeil. Si vous voulez apporter votre aide, ou que vous avez une idée, un bug à reporter ou encore une amélioration à proposer, contactez etiandre ou pierre sur <a href="irc://irc.nemeria.com:6667/nemeria">IRC</a>.</p>
        </div>
        <div class="span4">
            <h2>Avancement du projet</h2>
            <p>En cours de développement (intensif), les principales fonctionnalitées prévues seront:</p>
            <ul>
                <li>Recherche de joueurs, alliances et villes</li>
                <li>Obtention d'informations sur ces derniers</li>
                <li>Carte de vue d'ensemble des alliances et joueurs</li>
                <li>... à vous de le décider!</li>
            </ul>
        </div>
        <div class="span4">
            <h2>Changelog</h2>
            <dl>
                <dt>03/09/2012</dt>
                <dd>Ajout des listes de joueurs, alliances et villes</dd>
            </dl>
        </div>
    </div>
</div>
</style>
{% endblock %}  
