{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Liste des joueurs</title>
    <meta charset="utf-8">
    <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">
    <link href='{% static "css/bootstrap-responsive.css" %}' rel="stylesheet">
    <script src='{% static "js/jquery.js" %}'></script>
    <script src='{% static "js/bootstrap.js" %}'></script>
</head>
<body>
<header class="hero-unit">
    <h1>Liste des joueurs</h1>
</header>
<table class="table span12">
    <thead>
        <th>Id</th>
        <th>Nom</th>
        <th>Population</th>
        <th>Classement</th>
        <th>Alliance</th>
    </thead>
{% for j in joueurs %}
    <tr>
        <td>{{ j.id }}</td>
        <td><a href="{{ j.id }}">{{ j.nom }}</a></td>
        <td>{{ j.pop }}</td>
        <td>{{ j.classement }}</td>
        <td>{{ j.alliance.nom }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
