{% extends "base.html" %}
{% block title %}Détail de la ville{% endblock %}
{% block pagetitle %}Détail de la ville{% endblock %}

{% block content %}
<div class="well">
    <h1>Ville: {{ ville.nom }}</h1>
    <dl class="dl-horizontal">
        <dt>Monde:</dt>
        <dd>{{ ville.joueur.monde.nom }}</dd>
        <dt>Alliance:</dt>
        <dd><a href="/alliance/{{ ville.joueur.alliance.autoinc }}">{{ ville.joueur.alliance.nom }}</a></dd>
        <dt>Propriétaire:</dt>
        <dd><a href="/joueur/{{ ville.joueur.autoinc }}">{{ ville.joueur.nom }}</a></dd>
        <dt>Population:</dt>
        <dd>{{ ville.pop }}</dd>
    </dl>
</div>
{% endblock %}
