{% extends "base.html" %}

{% block title %}Liste des villes{% endblock %}
{% block pagetitle %}Liste des villes{% endblock %}
{% block content %}
<form class="form-inline" method="GET">
    Monde :<select name="monde" class="input-small">
        <option value="">Tous</option>
        {% for m in monde_list %}
        <option>{{ m.nom }}</option>
        {% endfor %}
        </select>
    Alliance :<input type="text" class="input-small" name="alliance" placeholder="n'importe">
    Joueur :<input type="text" class="input-small" name="joueur" placeholder="n'importe">
    Nom :<input type="text" class="input-small" name="nom" placeholder="n'importe">
    <input type="submit" class="btn" value="Rechercher">
</form>
<table class="table">
    <thead>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=monde&page={{ villes.number }}">Monde</a></th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=nom&page={{ villes.number }}">Nom</th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=joueur&page={{ villes.number }}">Joueur</th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=pop&page={{ villes.number }}">Population</th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=alliance&page={{ villes.number }}">Alliance</th>
    </thead>
    {% for v in villes %}
    <tr>
        <td>{{ v.joueur.monde.nom }}</td>
        <td><a href="{{ v.autoinc }}/">{{ v.nom }}</a></td>
        <td><a href="/joueur/{{ v.joueur.autoinc }}">{{ v.joueur.nom }}</a></td>
        <td>{{ v.pop }}</td>
        <td><a href="/alliance/{{ v.joueur.alliance.autoinc }}">{{ v.joueur.alliance.nom }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block pagination %}
    {% if villes.has_previous %}
    <li><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by={{ order }}&page={{ villes.previous_page_number }}">Précédent</a></li>
    {% endif %}
    <li class="active"><a href="#">Page {{ villes.number }} sur {{ villes.paginator.num_pages }}.</a></li>
    {% if villes.has_next %}
    <li><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by={{ order }}&page={{ villes.next_page_number }}">Suivant</a></li>
    {% endif %}
{% endblock %}
