{% extends "base.html" %}

{% block title %}Liste des alliances{% endblock %}
{% block pagetitle %}Liste des alliances{% endblock %}
{% block content %}
<form class="form-inline" method="GET">
    Nom :<input type="text" class="input-small" name="nom" placeholder="n'importe">
    Monde :<input type="text" class="input-small" name="monde" placeholder="n'importe">
    <input type="submit" class="btn" value="Rechercher">
</form>
<table class="table">
    <thead>
        <th><a href="?order_by=monde">Monde</a></th>
        <th><a href="?order_by=nom">Nom</a></th>
        <th><a href="?order_by=pop">Population</a></th>
        <th><a href="?order_by=classement">Classement</a></th>
    </thead>
    {% for a in alliances %}
    <tr>
        <td>{{ a.monde.nom }}</td>
        <td><a href="{{ a.autoinc }}/">{{ a.nom }}</a></td>
        <td>{{ a.pop }}</td>
        <td>{{ a.classement }}</td>
    </tr>
    {% endfor %}
</div>
</table>
{% endblock %}
