{% extends "base.html" %}

{% block title %}Liste des alliances{% endblock %}
{% block pagetitle %}Liste des alliances{% endblock %}
{% block content %}
<form class="form-inline" method="GET">
    Monde :<select name="monde" class="input-small">
        <option value="">Tous</option>
        {% for m in monde_list %}
        <option>{{ m.nom }}</option>
        {% endfor %}
        </select>
    Nom :<input type="text" class="input-small" name="nom" placeholder="n'importe">
    <input type="submit" class="btn" value="Rechercher">
</form>
<table class="table">
    <thead>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&order_by=monde&page={{ alliances.number }}">Monde</a></th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&order_by=nom&page={{ alliances.number }}">Nom</a></th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&order_by=pop&page={{ alliances.number }}">Population</a></th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&order_by=classement&page={{ alliances.number }}">Classement</a></th>
    </thead>
    {% for a in alliances %}
    <tr>
        <td>{{ a.monde.nom }}</td>
        <td><a href="{{ a.autoinc }}/">{{ a.nom }}</a></td>
        <td>{{ a.pop }}</td>
        <td>{{ a.classement }}</td>
    </tr>
    {% endfor %}
</div>
</table>
{% endblock %}
{% block pagination %}
    {% if alliances.has_previous %}
    <li><a href="?nom={{ nom }}&monde={{ monde }}&order_by={{ order }}&page={{ alliances.previous_page_number }}">Précédent</a></li>
    {% endif %}
    <li class="active"><a href="#">Page {{ alliances.number }} sur {{ alliances.paginator.num_pages }}.</a></li>
    {% if alliances.has_next %}
    <li><a href="?nom={{ nom }}&monde={{ monde }}&order_by={{ order }}&page={{ alliances.next_page_number }}">Suivant</a></li>
    {% endif %}
{% endblock %}
