{% extends "base.html" %}

{% block title %}Liste des joueurs{% endblock %}
{% block pagetitle %}Liste des joueurs{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom</th>
        <th>Population</th>
        <th>Classement</th>
        <th>Alliance</th>
    </thead>
    {% for j in joueurs %}
    <tr>
        <td>{{ j.id }}</td>
        <td><a href="{{ j.id }}">{{ j.nom }}</a></td>
        <td>{{ j.pop }}</td>
        <td>{{ j.classement }}</td>
        <td>{{ j.alliance.nom }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
