{% extends "base.html" %}

{% block title %}Liste des joueurs{% endblock %}
{% block pagetitle %}Liste des joueurs{% endblock %}
{% block content %}
<form class="form-inline" method="GET">
    Monde :<select name="monde" class="input-small">
        <option value="">Tous</option>
        {% for m in monde_list %}
        <option>{{ m.nom }}</option>
        {% endfor %}
        </select>
    Alliance :<input type="text" class="input-small" name="alliance" placeholder="n'importe">
    Nom :<input type="text" class="input-small" name="nom" placeholder="n'importe">
    <input type="submit" class="btn" value="Rechercher">
</form>
<table class="table">
    <thead>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=monde&page={{ joueurs.number }}">Monde</th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=nom&page={{ joueurs.number }}">Nom</th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=pop&page={{ joueurs.number }}">Population</th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=classement&page={{ joueurs.number }}">Classement</th>
        <th><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by=alliance__nom&page={{ joueurs.number }}">Alliance</th>
    </thead>
    {% for j in joueurs %}
    <tr>
        <td>{{ j.monde.nom }}</td>
        <td><a href="{{ j.autoinc }}/">{{ j.nom }}</a></td>
        <td>{{ j.pop }}</td>
        <td>{{ j.classement }}</td>
        <td><a href="/alliance/?nom={{ j.alliance.nom }}&monde={{ j.monde.nom }}">{{ j.alliance.nom }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block pagination %}
    {% if joueurs.has_previous %}
    <li><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by={{ order }}&page={{ joueurs.previous_page_number }}">Précédent</a></li>
    {% endif %}
    <li class="active"><a href="#">Page {{ joueurs.number }} sur {{ joueurs.paginator.num_pages }}.</a></li>
    {% if joueurs.has_next %}
    <li><a href="?nom={{ nom }}&monde={{ monde }}&alliance={{ alliance }}&order_by={{ order }}&page={{ joueurs.next_page_number }}">Suivant</a></li>
    {% endif %}
{% endblock %}
